@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');

.poktypes{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    justify-content: center;
}

.poketype{
    font-family: 'Open Sans', sans-serif;
    border-radius: 3px;
    line-height: 18px;
    max-width: 110px;
    margin: 0 1.5625% 0 0;
    width: 100%;
    text-transform: none;
    font-size: 14px;
    text-align: center;
    color: white;
    font-weight: 800;
    margin: 0 auto;
}